body {
    background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
    color: #fff;
    padding: 20px;
}
.btn-conjunto {
    margin: 5px;
}
#debruijn-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
